export(DGU)
export(LOO)
import(methods)
import(SummarizedExperiment)
importFrom(rstan,sampling)
importFrom(rstan,summary)
importFrom(rstan,extract)
importFrom(rstan,stan_model)
importFrom(rstan,rstan_options)
import(rstantools)